includes:
    # - phpstan-baseline.neon
    # vendor/bin/phpstan analyse -b
    # vendor\bin\phpstan analyse -b
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/symplify/phpstan-extensions/config/config.neon

parameters:
    paths:
        - app
        - database
        - tests
        - routes

    # The level 9 is the highest level (max)
    level: max

    ignoreErrors:
        # not sure how to fix these, they probably needs a doc block with the return types. I'm happy its working the
        # 'Laravel way' from the Laravel docs and tests
        - message: '#Parameter \$get of static method Illuminate\\Database\\Eloquent\\Casts\\Attribute<mixed,mixed>\:\:make\(\) expects \(callable\(mixed, mixed\)\: float\)\|null, Closure\(int\)\: float given#'
          path: app\Models\Order.php

        # I could loop over every array item before seeding, but I know it's never null from tests 🎉
        - message: '#Cannot access property \$id on App\\Models\\DeliveryCategory\|null#'
          path: database\seeders\OrderSeeder.php

        # I could loop over every array item before seeding, but I know it's never null from tests 🎉
        - message: '#Cannot access property \$id on App\\Models\\Location\|null#'
          path: database\seeders\OrderSeeder.php

        # This is filament's filter, I do not have access to define the array, it is actually a string key.
        - message: '#Cannot access offset .* on mixed#'
          paths:
          - app\Filament\Resources\OrderResource\Pages\ListOrders.php
          - app\Filament\App\Resources\OrderResource\Pages\ListOrders.php

    excludePaths:
        - ./config/*
        - ./ecs.php
        - ./routes/console.php
        # - ./database/factories/*
        # - ./database/seeders/*
        # - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
